<% content_for(:page_title) {"#{@owner.user_name}さんのマイページ"} %>
<div class="owner">
  <h2 class="owner-title"><%= @owner.user_name %>さんのマイページ</h2>
  <div class="owner-wrapper">
    <div class="owner-profile">
      <div class="owner-profile-top">
        <div class="owner-profile-top-image">
          <%= image_tag @owner.image.url(:icon), class: "owner-cat", alt: "猫のアイコン" %>
        </div>
        <div class="owner-profile-top-cat">
          <h3 class="owner-profile-top-cat-list"><%= @owner.cat_name %></h3>
          <h3 class="owner-profile-top-cat-list"><%= @owner.address %></h3>
        </div>
      </div>
      <div class="owner-profile-bottom">
        <h4 class="owner-profile-bottom-user">飼い主さん : <%= @owner.user_name %></h4>
        <div class="owner-profile-bottom-introduction">
          <h3 class="owner-profile-bottom-introduction-title">自己紹介</h3>
          <p class="owner-profile-bottom-introduction-text"><%= safe_join(@owner.introduction.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    </div>
    <ul class="owner-link">
      <li class="owner-link-list"><%= link_to "依頼詳細ページに戻る", :back, class: "transition-link" %></li>
      <% unless @user.id == current_user.id %>
      <% if @is_room == true %>
        <li class="owner-link-message-come"><%= link_to "トークルームに行く", room_path(@room_id), class: "owner-link-message-come-btn" %></li>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value=> @user.id %>
          <% end %>
          <li class="owner-link-message-start"><%= f.submit "メッセージを始める", class: "owner-link-message-start-btn" %></li>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  </div>
  <% if user_signed_in? %>
    <div class="reivew-create">
      <p class="reivew-create-title">レビューを投稿する</h3>
      <%= render partial: 'reviews/form', locals: { review: @review, user: @user } %>
    </div>
  <% end %>
  <hr>
  <div class="reviews-wrapper">
    <%= render partial: 'reviews/index', locals: { reviews: @reviews } %>
  </div>
</div>