<h1>newだよ</h1>

<%= form_with model: @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :address %>
<%= f.text_field :address %>
<%= f.label :introduction %>
<%= f.text_field :introduction %>
<%= f.submit %>
<% end %>