<% content_for(:page_title) {"マイページ"} %>
<div class="mypage">
  <h2 class="mypage-title">マイページ</h2>
  <div class="mypage-wrapper">
    <div class="mypage-profile">
      <div class="mypage-profile-top">
        <div class="mypage-profile-top-image">
          <%= image_tag current_user.profile.image.url(:icon), class: "mypage-cat", alt: "猫のアイコン" %>
        </div>
        <div class="mypage-profile-top-cat">
          <h3 class="mypage-profile-top-cat-list"><%= current_user.profile.cat_name %></h3>
          <h3 class="mypage-profile-top-cat-list"><%= current_user.profile.address %></h3>
        </div>
      </div>
      <div class="mypage-profile-bottom">
        <h4 class="mypage-profile-bottom-user">飼い主さん : <%= current_user.profile.user_name %></h4>
        <div class="mypage-profile-bottom-introduction">
          <h3 class="mypage-profile-bottom-introduction-title">自己紹介</h3>
          <p class="mypage-profile-bottom-introduction-text"><%= safe_join(current_user.profile.introduction.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    </div>
    <ul class="mypage-link">
      <li class="mypage-link-list"><%= link_to "プロフィールを編集する", edit_profile_path(current_user), class: "transition-link" %></li>
      <li class="mypage-link-list"><%= link_to "気ににゃるリスト", root_path, class: "transition-link" %></li>
      <li class="mypage-link-list"><%= link_to "依頼登録履歴", posts_path, class: "transition-link" %></li>
      <li class="mypage-link-list"><%= link_to "メッセージ一覧", root_path, class: "transition-link" %></li>
    </ul>
  </div>
</div>