<% content_for(:page_title) {"マイページ"} %>
<div class="mypage">
  <h2 class="mypage-title">マイページ</h2>
  <div class="mypage-wrapper">
    <div class="mypage-profile">
      <div class="mypage-profile-top">
        <div class="mypage-profile-top-image">
          <%= image_tag current_user.profile.image.url(:icon), class: "mypage-cat", alt: "猫のアイコン" %>
        </div>
        <div class="mypage-profile-top-cat">
          <h3 class="mypage-profile-top-cat-list"><%= current_user.profile.cat_name %></h3>
          <h3 class="mypage-profile-top-cat-list"><%= current_user.profile.address %></h3>
        </div>
      </div>
      <div class="mypage-profile-bottom">
        <h4 class="mypage-profile-bottom-user">飼い主さん : <%= current_user.profile.user_name %></h4>
        <div class="mypage-profile-bottom-introduction">
          <h3 class="mypage-profile-bottom-introduction-title">自己紹介</h3>
          <p class="mypage-profile-bottom-introduction-text"><%= safe_join(current_user.profile.introduction.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    </div>
    <ul class="mypage-link">
      <li class="mypage-link-list"><%= link_to "プロフィールを編集する", edit_profile_path(@profile.id), class: "transition-link" %></li>
      <li class="mypage-link-list"><%= link_to "気ににゃるリスト", likes_users_path, class: "transition-link" %></li>
      <li class="mypage-link-list"><%= link_to "依頼登録履歴", posts_path, class: "transition-link" %></li>
    </ul>
  </div>
  <hr>
  <div class="reviews-wrapper">
    <p class="review-title"><%= current_user.profile.user_name %> へのレビュー (<%= @reviews.count %>)</p>
    <% if @reviews.blank? %>
      <p class="no-review">まだレビューは投稿されてないにゃ</p>
    <% end %>
    <% @reviews.each do |review| %>
      <% unless review.id.nil? %>
        <li class="review-container">
          <div class="review-box">
            <div class="review-avatar">
              <%= image_tag review.contributor.profile.image.url(:mini), class: "review-image", alt: "猫のアイコン" %>
              <%= link_to "#{review.contributor.profile.user_name}", care_owner_path(review.contributor.id), class: "review-avatar-link" %>
            </div>
            <div class="review-date pull-right">
              <%= review.created_at.strftime('%m/%d %H:%M') %>
            </div>
          </div>
          <div class="review-content">
            <%= safe_join(review.content.split("\n"),tag(:br)) %>
          </div>
        </li>
      <% end %>
    <% end %>
  </div>
</div>