<% content_for(:page_title) {"トークルーム"} %>
<% @entries.includes(user: [:profile]).each do |e| %>
    <% current_user == e.user ? @class = "current_user" : @class = ""  %>
        <% if e.user != current_user %>
           <p class="text-left <%= @class %>" id="<%= @class %>" data-id="<%= e.user.id %>"><%= link_to "#{e.user.profile.user_name}さんとメッセージ", care_owner_path(e.user_id) %></p>
        <% else %>
           <p class="text-left <%= @class %>" id="<%= @class %>" data-id="<%= e.user.id %>"></p>
        <% end %>
<% end %>

<div id="direct_messages" data-room_id="<%= @room.id %>">
    <%= render @direct_messages.includes([:user]) %>
</div>

<form>
    <label id="target">新しいメッセージを作成</label><br>
    <input type="text" id="chat-input" data-behavior="room_speaker" placeholder="メッセージを送ってにゃ！" class="form-control">
</form>

<script>
    var element = document.getElementById('target');
    var rect = element.getBoundingClientRect();
    var position = rect.top;
    setTimeout( function() {
        scrollTo(0, position);}
        , 1000);
</script>