<% content_for(:page_title) {"依頼の編集"} %>
<%= render "shared/error_messages", obj: @post %>
<div class="post-wrapper">
  <h2 class="post-title">依頼の編集</h2>
  <div class="post-container">
    <%= form_with model: @post, local: true do |f| %>
    <div class="post-container-plan">
      <h3 class="post-container-plan-title"><span>■</span>希望のお世話時期と場所</h3>
      <div class="post-container-plan-inner">
        <div class="post-container-plan-inner-box">
          <h3 class="post-container-plan-inner-box-title">開始日</h3>
          <%= f.date_field :start, class: "post-container-plan-inner-box-input" %>
        </div>
        <div class="post-container-plan-inner-box">
          <h3 class="post-container-plan-inner-box-title">終了日</h3>
          <%= f.date_field :finish, class: "post-container-plan-inner-box-input" %>
        </div>
        <div class="post-container-plan-inner-box">
          <h3 class="post-container-plan-inner-box-title">お世話場所</h3>
          <%= f.select :place, {お世話係さんのお家: "お世話係さんのお家", 飼い主さんのお家: "飼い主さんのお家", どちらでもよい: "どちらでもよい"}, {include_blank: "選択してください"}, class: "post-container-plan-inner-box-input" %>
        </div>
      </div>
    </div>
    <div class="post-container-feature">
      <h3 class="post-container-feature-title"><span>■</span>特徴</h3>
      <%= f.text_area :feature, placeholder: "猫ちゃんの性格や特徴を教えて欲しいにゃ！", class: "post-container-feature-text" %>
    </div>
    <div class="actions">
      <%= f.submit "編集する", class: "actions-edit" %>
    </div>
    <% end %>
    <div class="back-history">
      <%= link_to "依頼登録履歴に戻る", posts_path, class: "back-history-link" %>
    </div>
  </div>
</div>