<div class="history-wrapper">
  <h2 class="history-title">依頼登録履歴</h2>
  <div class="history-container">
    <table class="history-table">
      <thead>
        <tr class="history-container-title">
          <th>画像</th>
          <th>お世話時期</th>
          <th>お世話日数</th>
          <th>お世話場所</th>
          <th>作成日</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |p| %>
        <tr onclick='window.location="<%= post_path(p) %>"' role="link" style="cursor: pointer">
          <td><%= image_tag current_user.profile.image.url(:icon) %></td>
          <td><%= p.start %></td>
          <td><%= p.end %></td>
          <td><%= p.place %></td>
          <td><%= p.created_at.strftime("%Y-%m-%d") %></td>
          <td onclick='window.location="<%= edit_post_path(p) %>"' role="link">編集</td>
          <td onclick='window.location="<%= post_path(p) data: {confirm: "投稿を削除するかにゃ？", cancel: "やめる", commit: "削除する", title: "確認", method: :delete} %>"' role="link">削除</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>