<header>
  <div class="header-container">
    <div class="header-logo">
      <%= link_to image_tag("/assets/logo.png"), root_path %>
    </div>
    <div class="header-right">
      <ul class="header-list">
        <% if user_signed_in? && current_user.profile.present? %>
        <li class="list"><%= link_to "メッセージ" %></li>
        <li class="list"><%= link_to "猫を預ける" %></li>
        <li class="list"><%= link_to "猫をお世話する" %></li>
        <% elsif user_signed_in? && current_user.profile.nil? %>
        <% else %>
        <li class="list"><%= link_to "会員登録", new_user_registration_path %></li>
        <li class="list"><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
      <!-- ハンバーガーメニュー -->
      <nav class="hamburger-menu">
        <% if user_signed_in? && current_user.profile.present? %>
        <a class="user-icon" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <%= image_tag current_user.profile.image.url(:mini), class: "user-icon-img", alt: "猫のアイコン" %>
        </a>
        <!-- ナビゲーションメニュー -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user) %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
        <% end %>
      </nav>
    </div>
  </div>
</header>