<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:page_title) ? "NyanLeave | #{yield(:page_title)}" : "NyanLeave" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render "layouts/header" %>
  <main>
    <%= yield %>
  </main>
  <%= render "layouts/footer" %>
  <% if flash.any? %>
    <script type="text/javascript">
      <% flash.each do |key, value| %>
        <% key = "success" if key == "notice" %>
        <% key = "error" if key == "alert" %>
        toastr['<%= key %>']('<%= value %>');
      <% end %>
    </script>
  <% end %>
</body>

</html>