<div class="user-edit">
  <h2 class="user-edit-title">登録情報変更</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="user-edit-fields">
    <div class="field-label">
      <%= f.label :email %>
    </div>
    <div class="field-area">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text-field" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field-label">
      新しい<%= f.label :password %>
    </div>
    <div class="field-area">
      <%= f.password_field :password, autocomplete: "new-password", class:"text-field" %>
    </div>

    <div class="field-label">
      <%= f.label :password_confirmation %>
    </div>
    <div class="field-area">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"text-field" %>
    </div>

    <div class="field-label">
      <%= f.label :current_password, class: "required" %>
    </div>
    <div class="field-area">
      <%= f.password_field :current_password, autocomplete: "current-password", class:"text-field" %>
    </div>

    <div class="actions">
      <%= f.submit "更新する", class: "actions-edit" %>
    </div>
    <% end %>
  </div>

  <div class="back-mypage">
    <%= link_to "マイページに戻る", user_path(current_user), class: "back-mypage-link" %>
  </div>

  <%= button_to "アカウントを削除", registration_path(resource_name), class: "delete-btn", data: { confirm: "本当にアカウントを削除するかにゃ？", cancel: "やめる", commit: "削除する" }, title: "確認", method: :delete %>

</div>